<div class="for_forms">
<%= form_with model: @article do |f| %>
<%= f.label :title, t(:title2) %>
<%= f.text_field :title %> <br/>
<%= f.label :category, t(:category2) %>
<%= f.select :category, options_for_select(Article.categories.map {|key, value| [key.humanize, key]}) %> <br/>
<%= f.label :image, t(:image2) %>
<%= f.file_field :image %> <br/>
<%= f.rich_text_area :textbody %> <br/>
<%= f.button :submit %>
<% end %>
</div>