<div class="users_adm">
<% @users.each do |user| %>
    <%unless user.id == 4%> 
    <div id="user_number_<%=user.id%>">
        <p><%= user.name %></p>
        <p><%= user.email %></p>
        <%=form_with url: delete_path do |form|%>
            <%=form.hidden_field(:id, value: user.id)%>
            <%=form.submit("Delete")%>
        <%end%>
    </div>
    <%end%>
<% end %>
</div>